body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* div.hero {
    flex-grow: 1;
} */

.hero {
    background-color: #1F2937;
    padding: 15px 150px 0 150px;
    flex: 1 1 auto;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0;
    margin: 0;
}

.hero-header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.hero-header-link {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.hero-main-container {
    display: flex;
    flex-grow: 1;
}

.hero-main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-main-main-text {
    color: #F9FAF8;
    font-size: 48px;
}

.hero-main-secondary-text {
    color: #E5E7E8;
    font-size: 18px;
    margin-bottom: 10px;
}

.hero-main-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-main-right img {
    width: 400px;
}

.hero-main-button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 130px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 8px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

html {
    height: 100%;
}